@tailwind base;

@tailwind components;

@tailwind utilities;

.blue-overlay {
    @apply w-full relative overflow-hidden;

    img {
        filter: grayscale(100%);
        transition: all 0.25s ease-in;
    }

    &:after {
        @apply absolute top-0 left-0 w-full h-full;
        background: linear-gradient(rgba(72, 74, 125, 0.5), rgba(72, 74, 125, 0.5));
        content: "";
        z-index: 1;
        transition: all 0.25s ease-in;
    }

    &:hover {
        &:after {
            background: linear-gradient(rgba(72, 74, 125, 0), rgba(72, 74, 125, 0));
            transition: all 0.25s ease-in;
        }

        img {
            filter: grayscale(0%);
            transition: all 0.25s ease-in;
        }
    }
}

.md-content p {
    @apply text-gray-500 text-justify font-medium mb-5;
}