@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#menu-toggle:checked+#menu {
    display: flex;
    opacity: 1;
    transition: all .55s ease;
}