@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,900&display=swap');

@tailwind base;
@tailwind components;

#menu-toggle:checked+#menu {
    display: flex;
    opacity: 1;
    transition: all .55s ease;
}

/* .md-content p {
    @apply text-gray-500 font-medium mb-5;
} */

/* .md-content table {
    @apply .text-gray-500 .font-medium .my-5;
}

.md-content table th {
    @apply .font-bold .border-b .border-gray-600 .py-2 .px-5;
}

.md-content table td {
    @apply .text-center .py-1 .px-5 .border-b .border-gray-600;
} */

@tailwind utilities;